<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./style.css">
    
</head>
<body>
    <div id="vue-app">
    <h1>Conditionals</h1>        
    <button v-on:click="error = !error">Toggle Error</button>
    <button v-on:click="success = !success">Toggle Success</button>
    <!-- <p v-if="error">There has been an error to the system</p>
    <!-- <p v-if="success">There has been an success to the system</p> -->

    <!-- v-else-if for bot same conditions -->
    <p v-else-if="success">Yup Success</p> -->

    <!--  v-show directive as it dosen't take 
          element out of DOM but makes display: none
    -->
    <p v-show="error">There is an error</p>
    <p v-show="success">There is a success</p>
    

    </div>


    <script src="./app.js">

    </script>
</body>
</html>